<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Product App</title>
<link rel="stylesheet" type="text/css" href="product_style.css">
</head>

<body>
    <div class="nav-bar"></div>

    <div id="app">

        <div class="product">

            <div class="product-image">
                <img v-bind:src="image" v-bind:alt="altText" />
                <div class="cart">
                    <p> Cart({{cart}}) </p>
                </div>                
                <button :class="{ disabledButton: !inStock }" 
                    v-on:click="addToCart" :disabled="!inStock">Add to Cart</button>
                <button @click="removeFromCart">Remove from Cart</button>
            </div>

            <div class="product-info">
                <h1> {{ title }} </h1>
                <a :href="href" target="_blank">More products like this...</a>
                <br/>
                <p v-if="inStock > 10">In Stock</p>
                <p v-else-if="inStock <=10 && inStock > 0">Almost sold out!</p>
                <p v-else :class="{ outOfStock: !inStock }">Out of Stock</p>
                <span v-show="onSale">On Sale!</span>

                <h2> Product Details </h2>
                <ul>
                    <li v-for="detail in details"> <p>{{ detail }}</p> </li>
                </ul>

                <h2> Colors </h2>
                <div class="color-box" v-for="(variant, index) in variants" 
                       :key="variant.variantId"
                       :style="{ backgroundColor: variant.variantColor }" 
                       @mouseover="updateProduct(index)">
                </div>

                <h2> Sizes </h2>
                <ul>
                    <li v-for="size in sizes">{{ size }}</li>
                </ul>

            </div>

        </div>

    </div>

    <script src="https://unpkg.com/vue"></script>
    <script src="app.js"></script>

</body>

</html>
